---
import SectionTitle from "../SectionTitle.astro";
import EmployeeCard from "./EmployeeCard.astro";

interface Props {
    employees : {
        gradoAcademico  : string;
        nombres         : string;
        apellidos       : string;
        cargo           : string;
        retrato         : ImageMetadata;
    }[];
}
const { employees } = Astro.props


---

<section class="team">
    <SectionTitle title="Nuestro equipo"/>
    <div class="flex">
        {employees.map(employee => (
            <EmployeeCard {... employee}/>
        ))}
    </div>
</section>

<style>
.team{
    padding     : 0 1rem;
}
.flex{
    display     : flex;
    overflow-x  : auto;
    gap         : 1rem;
    padding-top : 2rem;
}
</style>
