---
interface Props {
    hitos       : {
        mes         : "Ene" | "Feb" | "Mar" | "Abr" | "May" | "Jun" | "Jul" | "Ago" | "Sep" | "Oct" | "Nov" | "Dic" | "Xxx";
        año         : number | "20XX";
        titulo      : string;
        descripcion : string;
    }[]
}
const { hitos } = Astro.props

import SectionTitle from "@/components/SectionTitle.astro";
import Milestone from "@/components/about/Milestone.astro";

import ArrowPointIcon from "@/icons/ArowPointIcon.astro";
---


<section class="history">
    <div class="history__padding">
        <SectionTitle title="Nuestra Historia"/>
    </div>
    <div class="history-line">
        <div class="history-line__end">
            <ArrowPointIcon />
        </div>
        <div class="history-line__body"></div>
    </div>
    <div class="milestones">
        {
            hitos.map( milestone => (
                <Milestone {... milestone}/>
            ))
        }
    </div>
</section>

<style>
.history{
    position        : relative;
    padding         : 0 3rem;
    display         : flex;
    flex-direction  : column;
    gap             : 3rem;
}
.history__padding{
    padding         : 0 4.5rem;
}
.history-line{
    position        : absolute;
    top             : 3rem;
    left            : 6.75rem;
    height          : 100%;
}
.history-line__end{
    width           : 2rem;
    margin-bottom   : -1px;
}
.history-line__body{
    margin          : 0 auto;
    width           : 6px;
    height          : calc(100% - 12rem);
    background-color: var(--primary-color);
}
.milestones{
    display         : flex;
    flex-direction  : column;
    gap             : 2rem;
}
</style>
