---
import Dot from "@/icons/MilestoneDot.astro";

interface Props {
    mes         : "Ene" | "Feb" | "Mar" | "Abr" | "May" | "Jun" | "Jul" | "Ago" | "Sep" | "Oct" | "Nov" | "Dic" | "Xxx";
    año         : number | "20XX";
    titulo      : string;
    descripcion : string;
}
const { mes, año, titulo, descripcion } = Astro.props
---

<article class="milestone">
    <div class="milestone__date">
        <p class="milestone__date-label">{mes}</p>
        <p class="milestone__date-label">{año}</p>
    </div>
    <div class="milestone__dot">
        <Dot />
    </div>
    <div class="milestone__info">
        <h3 class="milestone__title">{titulo}</h3>
        <hr>
        <p class="milestone__description">{descripcion}</p>
    </div>
</article>

<style>
.milestone{
    display         : flex;
    align-items     : flex-start;
    gap             : .5rem;
}
.milestone__date{
    width           : 3rem;
    flex-shrink     : 0;
}
.milestone__date-label{
    font-size       : 1.5rem;
    letter-spacing  : -.04em;
    text-align      : end;
}
.milestone__dot{
    width           : 2.5rem;
    height          : 2.5rem;
    margin-top      : .5rem;
    flex-shrink     : 0;
    z-index         : 1;
}
.milestone__info{
    display         : flex;
    flex-direction  : column;
    gap             : .5rem;
}
.milestone__title{
    font-size       : 2rem;
    letter-spacing  : -.04em;
    font-weight     : 600;
}
hr{
    margin-right    : 1rem;
    height          : 1px;
    width           : auto;
    background-color: var(--text-color);
}
.milestone__description{
    font-size       : 1.5rem;
    letter-spacing  : -.04em;
}
</style>
