---
import Layout from '@/layouts/Layout.astro';
import { homeData } from "@/data/home";

import Overview from "@/components/home/Overview.astro";
import Stats from '@/components/home/Stats.astro';
import Service from '@/components/home/Service.astro';

/* TODO:
	- Animar numero para que aumenten al aparecer.
	- Agregar paralaje a imagenes de servicio.
*/
---

<Layout title="Transvia Ingeniería" description="" keywords={["Transvia Ingenieria"]}>
	<Overview slogan={homeData.eslogan} />
	<Stats stats={homeData.estadisticas}/>
	<section class="services">
		{
			homeData.servicios.map((service, index) => (
				<Service index={index} {... service}
				/>
			))
		}
	</section>
</Layout>

<style>
.services{
	display			: flex;
	flex-direction	: column;
	gap				: 3rem;
}
</style>
