---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Transvia Ingeniería" description="">
	<h1>Concepto de <span class="text-gradient">Landing page</span> </h1>
</Layout>

<style>

	/* .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	} */
</style>
