---
import Layout from "@/layouts/Layout.astro";
import { about } from "@/data/about";

import Description from "@/components/about/Description.astro";
import History from "@/components/about/History.astro";
import Employees from "@/components/about/Employees.astro";
import Colabs from "@/components/about/Colabs.astro";
---

<Layout title="Nosotros - Transvia Ingeniería" description="" keywords={["Transvia Ingenieria"]}>
	<h2 class="phrase"> {about.frase} </h2>
	<Description description={about.descripcion} />
	<History />
	<Employees employees={about.empleados} />
	<Colabs logos={about.colaboracionesLogo} />
</Layout>

<style>
.phrase{
	font-size: 2.4rem;
	line-height: 3rem;
	letter-spacing: -.03rem;
	font-weight: 700;
	padding-left: 5vw;
}
</style>
