---
import Layout from "../layouts/Layout.astro";
import Description from "../components/about/Description.astro";
import History from "../components/about/History.astro";

import { about } from "../data/about";
import Employees from "../components/about/Employees.astro";
---

<Layout title="Nosotros - Transvia Ingeniería" description="" keywords={["Transvia Ingenieria"]}>
	<main class="about">
		<h2 class="phrase"> {about.frase} </h2>
		<Description description={about.descripcion} />
		<History />
		<Employees employees={about.empleados} />

	</main>
</Layout>

<style>
.about{
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem 0;
}
.phrase{
	font-size: 2.4rem;
	line-height: 3rem;
	letter-spacing: -.03rem;
	font-weight: 700;
	padding-left: 5vw;
}
</style>
