---
import Layout from "@/layouts/Layout.astro";
import { projectData } from "@/data/projects";

import ProjectCard from "@/components/projects/ProjectCard.astro";
---

<Layout title="proyectos - Transvia Ingeniería" description="" keywords={["Transvia Ingenieria"]}>
    <div class="projects">
        {
            projectData.projects.map( project => (
                <ProjectCard {... project} />
            ))
        }
    </div>
    <!-- Agregar paginador -->
</Layout>

<style>
.projects{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0 1rem;
}
</style>
