---
import Layout from "@/layouts/Layout.astro";
import { projectData } from "@/data/projects";

import ProjectCard from "@/components/projects/ProjectCard.astro";
---

<Layout title="Proyectos - Transvia Ingeniería" description="" keywords={["Transvia Ingeniería"]}>
    <div class="projects">
        {
            projectData.projects.map( project => (
                <ProjectCard {... project} />
            ))
        }
    </div>
    <!-- Agregar paginador -->
</Layout>

<style>
.projects{
    display         : flex;
    flex-direction  : column;
    gap             : .5rem;
    padding         : 0 1rem;
}

@media (min-width: 641px) {
    .projects{
        display         : grid;
        grid-template-columns: repeat(3, 1fr);
        gap             : 1em;
        padding         : 0 9rem;
    }
}
@media (min-width: 1440px) {
    .projects{
        padding         : calc(1px + .5rem) calc(var(--big-pading) + 9rem) .5rem;
    }
}
</style>
