---
    import imagen from '../../assets/home/overview.jpg';
    interface props{
        slogan  : string;
    }
    const { slogan } = Astro.props
---

<article class="overview">
    <h2 class="overview__slogan">
        {slogan}
    </h2>
    <img class="overview__img" src={imagen.src} alt="Imagen de un calle X de la ciudad">
</article>

<style>
    .overview{
        position: relative;
        padding: 0 1rem;

    }
    .overview__slogan{
        position: absolute;
        top: 1rem;
        font-size: 2.4rem;
        line-height: 3rem;
        font-weight: 700;
        letter-spacing: -.03rem;
    }
    .overview__img{
        width: 25rem;
        aspect-ratio: 25 / 28;
        margin-left: auto;
    }
</style>
