---
interface Props {
    index       : number;
    id          : number,
    imagen      : ImageMetadata,
    titulo      : string,
    descripcion : string
}

const { index, id, imagen, titulo, descripcion } = Astro.props

const isOdd : boolean = index % 2 === 1;
const lessThan10 : boolean = index < 10;
//hacer funcion modulo para definir posicion
//hacer modulo para posicion de texto.
---

<article class:list={['service', isOdd && 'service--inverse']}>
    <img 
        class:list={[
            'service__img', 
            isOdd && 'service__img--transition-reverse',
            !isOdd && '.service__img--transition'
            ]} 
        src={imagen.src}
        alt="Imagen de servicio"
        loading="lazy"
        decoding="async"
    >
    <div class:list={['service__info', isOdd && 'service__info--reverse']}>
        <span class="service__number"> {lessThan10 && "0"}{id} </span>
        <p class="service__title"> {titulo} </p>
        <hr>
        <p class="service__desc"> {descripcion} </p>
    </div>
</article>

<style>
.service{
    display         : flex;
    padding         : 0 3rem;
    gap             : 1rem;
    
}
.service--inverse{
    flex-direction  : row-reverse;
}

.service__img{
    width           : 12rem;
    height          : 13rem;
    /* animation-timeline: scroll(); */
}

.service__img--transition{
    animation       : paralax linear alternate;
}
.service__img--transition-reverse{
    animation       : paralax-reverse linear alternate;
}
@keyframes paralax {
    form {transform : translateY(-1rem);}
    to {transform   : translateY(3rem);}
}
@keyframes paralax-reverse {
    form {transform : translateY(3rem);}
    to {transform   : translateY(-1rem);}
}

.service__info{
    display         : flex;
    flex-direction  : column;
    width           : 26rem;
    gap             : .5rem;
}
.service__info--reverse{
    text-align      : end;
}
.service__number{
    font-size       : 1.5rem;
    font-weight     : 700;
}
.service__title{
    font-family     : "Nunito", sans-serif;
    font-size       : 2.5rem;
}
hr{
    height          : .7px;
    width           : auto;
    background-color: var(--text-color);
}
.service__desc{
    font-size       : 1.5rem;
    letter-spacing  : -.07em;
}
</style>
