---
interface Props {
    stats : {valor : number, etiqueta : string}[];
}

const { stats } = Astro.props
---
<script></script>


<article class="badge-stats">
    <div class="stat stat-0">
        <span class="stat__number"> {new Intl.NumberFormat("es-CL").format(stats[0].valor)} </span>
        <p class="stat__label"> {stats[0].etiqueta} </p>
    </div>
    <div class="stat stat-1">
        <span class="stat__number"> {new Intl.NumberFormat("es-CL").format(stats[1].valor)} </span>
        <p class="stat__label"> {stats[1].etiqueta} </p>
    </div>
    <div class="stat stat-2">
        <span class="stat__number"> {new Intl.NumberFormat("es-CL").format(stats[2].valor)} </span>
        <p class="stat__label"> {stats[2].etiqueta} </p>
    </div>
</article>

<style>
.badge-stats{
    position: relative;
    height: 15rem;
    padding: .5rem 2.5rem;
    background: rgba(220, 220, 220, 75%);

}
.stat{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.stat__number{
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;

}
.stat__label{
    width: 100%;
    font-size: 1.2rem;
    font-weight: 900;
    text-align: center;
}
.stat-0{
    width: 6rem;
    left: 10vw;
}
.stat-1{
    top: 2rem;
    left: 60vw;
}
.stat-2{
    top: 8rem;
    left: 15vw;
}
</style>
