---
interface Props {
    stats : {valor : number, etiqueta : string}[];
}

const { stats } = Astro.props
---
<article class="badge-stats">
    <div class="stat stat-0">
        <span class="stat__number"> {new Intl.NumberFormat("es-CL").format(stats[0].valor)} </span>
        <p class="stat__label"> {stats[0].etiqueta} </p>
    </div>
    <div class="stat stat-1">
        <span class="stat__number"> {new Intl.NumberFormat("es-CL").format(stats[1].valor)} </span>
        <p class="stat__label"> {stats[1].etiqueta} </p>
    </div>
    <div class="stat stat-2">
        <span class="stat__number"> {new Intl.NumberFormat("es-CL").format(stats[2].valor)} </span>
        <p class="stat__label"> {stats[2].etiqueta} </p>
    </div>
</article>

<style>
.badge-stats{
    position        : relative;
    height          : 18rem;
    padding         : .5rem 2.5rem;
    background      : var(--background-banner);

}
.stat{
    position        : absolute;
    display         : flex;
    flex-direction  : column;
    flex-wrap       : wrap;
    align-items     : center;
    text-align      : center;
}
.stat__number{
    font-size       : 5rem;
    font-weight     : 700;
    line-height     : 1em;

}
.stat__label{
    width           : 100%;
    font-size       : 1.5rem;
    font-weight     : 900;
    text-align      : center;
}
.stat-0{
    left            : 10%;
    width           : 10rem;
}
.stat-1{
    top             : 2rem;
    right           : 12%;
    width           : 10rem;
}
.stat-2{
    bottom          : 1rem;
    left            : 20%;
    width           : 23rem;
}
</style>
