---
import SectionTitle from "@/components/SectionTitle.astro";
import LoadingIcon from "@/icons/LoadingIcon.astro";
import CheckIcon from "@/icons/CheckIcon.astro";

import { ReactContactForm } from "@/components/contact/ContactForm/ReactContactForm";
---

<section class="contact">
  <SectionTitle title="Dudas o Consultas" />
  <ReactContactForm client:idle />
</section>

<style>
  .contact {
    grid-area: form;
  }
</style>
