---
import HomeIcon from "@/icons/HomeIcon.astro";
import ArrowIcon from "@/icons/ChevronRightIcon.astro";

const location: string = Astro.url.pathname.replace("/", "");
const isHome: boolean = location === "";
---

{
  !isHome && (
    <nav class="path">
      <a
        aria-label="Icono para volver al inicio"
        class="path__home-icon"
        href="/"
      >
        {" "}
        <HomeIcon />{" "}
      </a>
      <div class="path__path-icon">
        {" "}
        <ArrowIcon />{" "}
      </div>
      <h1 class="path__location-label">{location}</h1>
    </nav>
  )
}

<style>
  .path {
    display: flex;
    padding: 1em 3em;
    align-items: center;
  }
  .path__home-icon {
    width: 3em;
    height: 3em;
  }
  .path__path-icon {
    width: 3em;
    height: 2em;
  }
  .path__location-label {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 3em;
    line-height: 1em;
    border-bottom: 2px solid var(--text-color);
  }
  .path__location-label::first-letter {
    text-transform: capitalize;
  }

  @media screen and (min-width: 641px) {
    .path {
      display: none;
    }
  }
</style>
