---
interface Props {
    title   : string;
    color  ?: string;
}

const { title, color = "--text-color" } = Astro.props
---

<h2 class="section-title"> 
    {title}
</h2>

<style define:vars={{ color }}>
.section-title{
    font-family     : "Nunito", sans-serif;
    font-size       : 2rem;
    line-height     : 2.5rem;
    font-weight     : 300;
    letter-spacing  : -.04em;
    margin          : 0 .5rem;
    color           : var(--color);
}
</style>
