---
import { Image } from 'astro:assets';

interface Props {
    isMision        : boolean;
    titulo          : string;
    descripcion     : string;
    imagen          : ImageMetadata;
    altImage        : string;
}

const { isMision, titulo, descripcion, imagen, altImage} = Astro.props
---
<section class="mv-section">
    <article class:list={['mv-card', {'mv-card--vision' : !isMision}]}>
        <h3 class:list={['mv-card__title', { 'mv-card__title--vision' : !isMision } ]} >{ isMision ? "Misión" : "Visión"}</h3>
        <p class="mv-card__subtitle"> {titulo} </p>
        <p class="mv-card__description"> {descripcion} </p>
    </article>
    <div class:list={['mv-section__decoration', {'mv-section__decoration--vision' : !isMision}]} ></div>
    <Image 
        class:list={['mv-section__image', {'mv-section__image--vision' : !isMision}]} 
        src={imagen} 
        alt={altImage}
    />
</section>

<style>
.mv-section{
    padding         : 0 1em;
    position        : relative;
    display         : flex;
    flex-flow       : column nowrap;
}
.mv-card{
    width           : calc(100% - 2em);
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    margin-top      : 1em;
    padding         : 3em;
    gap             : 1rem;
    background-color: var(--background-color);
}
.mv-card--vision{
    margin-left     : auto;
}
.mv-card__title{
    font-family     : "Nunito", sans-serif;
    font-weight     : 700;
    font-size       : 2em;
    letter-spacing  : -.04em;
    padding         : 0 1em;
    color           : var(--primary-color);
    border-left     : 2px solid var(--primary-color);
}
.mv-card__title--vision{
    color           : var(--secondary-color);
    border-left     : 2px solid var(--secondary-color);
}
.mv-card__subtitle{
    font-size       : 1.5em;
    letter-spacing  : -.06em;
}
.mv-card__description{
    font-size       : 1em;
    letter-spacing  : -.05em;
}
.mv-section__decoration{
    position        : absolute;
    top             : 0;
    right           : 2em;
    width           : calc(100% - 5em);
    height          : 22em;
    border          : 1px var(--text-color) dashed;
    z-index         : -2;
}
.mv-section__decoration--vision{
    right           : 0;
    left            : 2em;
}
.mv-section__image{
    margin-top      : -5rem;
    align-self      : flex-end;
    width           : calc(100% - 2em);
    height          : 25em;
    border-radius   : 4px;
    z-index         : -1;
}
.mv-section__image--vision{
    align-self       : flex-start;
}

@media (min-width: 641px) {
    .mv-section{
        padding         : 0 5rem;
        flex-flow       : row nowrap;
        justify-content : center;
        align-items     : center;
    }
    .mv-card{
        flex-shrink     : 0;
        width           : min(48vw, 86rem);
        margin          : 0 -3rem 0 0;
    }
    .mv-card--vision{
        order           : 1;
        margin          : 0 0 0 -3rem;
    }
    
    .mv-section__decoration{
        top             : 2rem;
        left            : 4rem;
        width           : min(50%, 80rem);
        height          : 70%;
    }
    .mv-section__decoration--vision{
        left            : auto;
        right           : 4rem;
    }
    .mv-section__image{
        flex-shrink     : 0;
        width           : min(47vw, 85rem);
        height          : 30rem;
        margin          : 0 0 0 -3rem;
    }
    .mv-section__image--vision{
        margin          : 0 -3rem 0 0;
    }
}
@media (min-width: 904px) {
    .mv-section{
        padding         : 0 9rem;
    }
    .mv-card{
        width           : min(48vw, 86rem);
        padding-top     : 9rem;
        padding-bottom  : 9rem;
        margin          : 0 -8rem 0 0;
    }
    .mv-card--vision{
        margin          : 0 0 0 -8rem;
    }
    .mv-card__title{
        font-size       : 3rem;
        padding         : 0 2rem;
    }
    .mv-card__subtitle{
        font-size       : 2rem;
    }
    .mv-card__description{
        font-size       : 1.5rem;
    }
    .mv-section__decoration{
        border-width    : 2px;
        left            : 9rem;
    }
    .mv-section__decoration--vision{
        left            : auto;
        right           : 9rem;
    }
    .mv-section__image{
        height          : 56rem;
        margin          : 0 0 0 -8rem;
    }
    .mv-section__image--vision{
        margin          : 0 -8rem 0 0;
    }
}
@media (min-width: 1440px) {
    .mv-section{
        padding         : 0 calc(var(--big-padding) + 9rem);
    }
    .mv-section__decoration{
        left            : calc(var(--big-padding) + 9rem);
    }
    .mv-section__decoration--vision{
        left            : auto;
        right           : calc(var(--big-padding) + 9rem);
    }
}
</style>
