---
import ValueCard from "@/components/values/ValueCard.astro";

interface Props {
    valores     : {
        numero      : number;
        titulo      : string;
        descripcion : string;
        icono       : ImageMetadata;
        imagen      : ImageMetadata;
    }[]
}
const { valores } = Astro.props

const numeroValores = valores.length;
---

<script>
    const show : HTMLElement = document.querySelector('.carussel__show');
    const dots : NodeListOf<HTMLElement> = document.querySelectorAll('.carussel__dot');
    
    dots.forEach( (dot, index) => {
        dot.addEventListener('click', () => {
            let position = index * (-100/dots.length);
            show.style.transform = `translateX( calc(${ position }% - calc(1rem * ${index}) ))`;
            dots.forEach( dot => dot.classList.remove('carussel__dot--active'));
            dot.classList.add('carussel__dot--active');
        })
    })
</script>

<section class="carussel" tabindex="0">
    <div class="carussel__show">
        {
            valores.map( valor => (
                <ValueCard total={numeroValores} {... valor} />
            ))
        }
    </div>
    <div class="carussel__dots">
        {
            valores.map( (valor, index) => (
                <button class:list={["carussel__dot", { "carussel__dot--active" : index === 0 }]}>
                </button>
            ))
        }
    </div>
</section>

<style define:vars={{numeroValores}}>
.carussel{
    padding         : 0 1rem;
    overflow-x      : hidden;
}

.carussel__show{
    display         : flex;
    flex-flow       : row nowrap;
    gap             : 1rem;
    width           : calc( 100% * var(--numeroValores));
    transition      : all .5s ease;
}
.carussel__dots{
    width           : 100%;
    display         : flex;
    flex-flow       : row nowrap;
    gap             : .5rem;
    justify-content : center;
    margin-top      : 1rem;
}
.carussel__dot{
    width           : 4rem;
    height          : 1rem;
    border-radius   : 5px;
    background-color: var(--background-banner);
}
.carussel__dot--active{
    background-color: var(--primary-color);
}
</style>
