---
import ValueCard from "@/components/values/ValueCard.astro";

interface Props {
  valores: {
    numero: number;
    titulo: string;
    descripcion: string;
    icono: ImageMetadata;
    imagen: ImageMetadata;
  }[];
}
const { valores } = Astro.props;

const numeroValores = valores.length;
---

<script>
  const show: HTMLElement = document.querySelector(".carousel__show");
  const dots: NodeListOf<HTMLElement> =
    document.querySelectorAll(".carousel__dot");

  dots.forEach((dot, index) => {
    dot.addEventListener("click", () => {
      let position = index * (-100 / dots.length);
      show.style.transform = `translateX( calc(${position}% - calc(1rem * ${index}) ))`;
      dots.forEach((dot) => dot.classList.remove("carousel__dot--active"));
      dot.classList.add("carousel__dot--active");
    });
  });
</script>

<section class="carousel" tabindex="0">
  <div class="carousel__show">
    {valores.map((valor) => <ValueCard total={numeroValores} {...valor} />)}
  </div>
  <div class="carousel__dots">
    {
      valores.map((valor, index) => (
        <button
          class:list={[
            "carousel__dot",
            { "carousel__dot--active": index === 0 },
          ]}
        ></button>
      ))
    }
  </div>
</section>

<style define:vars={{ numeroValores }}>
  .carousel {
    margin: 0 1em;
    overflow-x: hidden;
  }

  .carousel__show {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    width: calc(100% * var(--numeroValores));
    transition: all 0.5s ease;
  }
  .carousel__dots {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5em;
    justify-content: center;
    margin-top: 1em;
  }
  .carousel__dot {
    width: 4em;
    height: 1em;
    border-radius: 5px;
    background-color: var(--background-banner);
  }
  .carousel__dot--active {
    background-color: var(--primary-color);
  }

  @media (min-width: 641px) {
    .carousel {
      margin: 0 5rem;
    }
    .carousel__dots {
      gap: 1rem;
    }
  }

  @media (min-width: 904px) {
    .carousel {
      width: min(60%, 108rem);
      margin: 0 auto;
    }
  }
</style>
