---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
	description: string;
	keywords: string[]
}

const { title, description, keywords } = Astro.props;

let keywordString : string = "";
keywords.forEach(key => {
	keywordString += key + ",";
});

/*
TODO:
 - Investigar Etiquetas Meta

*/

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="Cristóbal Contreras Beltrán">
		<meta name="generator" content={Astro.generator} />
		<meta name="keywords" content={keywordString}>

		<link rel="icon" type="image/png" href="/favicon.png" />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<Header/>
		<main>
			<slot />
		</main>
		<Footer/>
	</body>
</html>


<style is:global>
:root{
    /* Colors */
    --primary-color     :#73BC44;
    --secondary-color  	:#046CBC;
    --accent-color 	    :#44C4F4;
	--background-color	:#DCDCDC;

    --text-color 		:#212529;
}
/* Modo oscuro */
@media (prefers-color-scheme: dark) {
    :root{
        --background-color  :#040404;
        --text-color		:#DEDEDE;
    }
}
/* Modo alto contraste */
/* @media (prefers-contrast: high){
    :root{
        --primary-color     :;
        --secondary-color   :;
        --tertiary-color    :;
        --primary-text-color:;
        --secondary-text-color:;
        --selection-color   :;
        --selection-bg-color:;
    }
} */
/* Modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation       : none !important;
    transition      : none !important;
    }
}


/* Reset*/
* { 
    margin          : 0;
    padding         : 0;
    border          : 0;
    box-sizing      : border-box;
    vertical-align  : baseline;   
}
img , picture , video , iframe , figure{
    max-width       : 100%;
    width           : 100%;
    display         : block;
    object-fit      : cover;            /* opcional */
    object-position : center center;    /* opcional */
}
a {
    display         : block;
    text-decoration : none;
    color           : inherit;
    font-size       : inherit;
}   
p a {
    display         : inline;
}
li {
    list-style-type : none;
}
html {
    scroll-behavior : smooth;
}
h1 , h2 , h3 , h4 , h5 , h6 , p ,span , a , strong , blockquote , i , b , u , em {
    font-size       : 1rem;
    font-weight     : inherit;
    font-style      : inherit;
    text-decoration : none;
    color           : inherit;
}
blockquote:before, blockquote:after, q:before, q:after {
	content         : '';
	content         : none;
}
form , input, textarea, select , button , label{
    font-family     : inherit;
    font-size       : inherit;
    hyphens         : auto;
    background-color: transparent;
    color           : inherit;
    display         : block;
    appearance      : none;
}
table , tr , td {
    border-collapse : collapse;
    border-spacing  : 0;
}
svg{
    width           : 100%;
    display         : block;
    fill            : currentColor;
}   
body {
    // min-width   : $min-mobile-width;
    font-family : $primary-font;
    color       : var(--text-color);
    font-smooth: always;/* opcional */
    -webkit-font-smoothing: antialiased;/* opcional */
    -moz-osx-font-smoothing: grayscale;/* opcional */
    background-color: var(--background-color);
}
</style>
